/* HEADER SECTION */
h1 {
  font-family: helvetica;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 10px;
}

.nav-main {
  background-image: url("../images/background.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-size: cover;
}
a {
  color: white;
  font-family: helvetica;
  font-size: 14px;
  margin-top: 5px;
  padding-bottom: 15px;
}

h2 {
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-family: helvetica;
  font-size: 23px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process-list-1 p:first-child {
  font-weight: bold;
  font-family: helvetica;
  font-size: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.process-list-1 p:last-child {
  font-family: helvetica;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-header {
  color: white;
  background-image: url("../images/background.png");
  background-position: left;

  background-size: 100%;
}
.contact {
  font-weight: normal;
  font-family: helvetica;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.phone {
  margin-bottom: 10px;
}
.email {
  margin-bottom: 10px;
}

.footer {
  color: white;
  font-weight: normal;
  font-family: helvetica;
  font-size: 11px;
  background-color: dimgray;
}

.footer a {
  font-size: 11px;
}

.imagen-1 {
  background-image: url("../icons/identify.svg");
  background-repeat: no-repeat;
  margin-left: 48%;
  margin-right: -48%;
  padding-bottom: 1px;
  height: 40px;
}

.imagen-2 {
  background-image: url("../icons/execute.svg");
  background-repeat: no-repeat;
  margin-left: 48%;
  margin-right: -48%;
  padding-bottom: 1px;
  height: 50px;
}
.imagen-3 {
  background-image: url("../icons/understand.svg");
  background-repeat: no-repeat;
  margin-left: 48%;
  margin-right: -48%;
  padding-bottom: 1px;
  height: 70px;
}
